# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc
env/
venv/
.venv/
env.bak/
venv.bak/

# Environment variables
.env
.env.local
.env.*.local

# Database
*.sqlite3
*.db

# Logs
*.log
logs/

# IDE
.vscode/
.idea/

# Uploads
uploads/
